img {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
body {
    background-image: url("/static/bg.jpg");
    padding: 0;
    margin: 0;
    font-family: Arial, serif;
}

#allCards {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80%;
    height: 150%;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    bottom: 10%;
    top: 10%;
    left: 10%;
    z-index: 100;
}

.allCardsClosed {
    visibility: hidden;
}

.allCardsOpen {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    visibility: visible;
}

#allCards img {
    object-fit: contain;
    width: 245px;
    height: 175px;
    touch-action: none;
}

#allCards img.selected {
    border: 3px solid orange;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rootDiv {
    width: 100%;
}

.header {
    width: 100%;
    background: #505087;
    color: white;
    font-size: 14px;
    padding-top: 5px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .hello {
    margin-left: 5px;
}

.header .startGame {
    margin-right: 5px;
}

#cardNames {
    visibility: collapse;
}

.header a {
    color: #a4a4cd;
    text-decoration: none;
}

.endTurnHolderBox {
    width: 100px;
    margin: 10px auto auto;
}

.endTurnHolderBox button {
    width: 100px;
    height: 40px;
}

.endTurnHolderBox button.pressMe {
    background: orange;
}

.my_info {
    width: 100%;
    margin-top: 5px;
    height: 247px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#my_tokens {
    width: 60%;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

.my_coins {
    color: white;
    margin-right: 1%;
    margin-left: 1%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my_coins img {
    width: 67px;
    height: 102px;
}

.my_cards {
    border: 1px solid gray;
    background-color: #efefef;
    border-radius: 8px;
    margin-left: 30%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myTurn {
    background: #ffe191;
}

.my_cards .card {
    width: 135px;
    height: 217px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 15px;
    color: transparent;
}

.banker {
    background-image: url("/static/cards_images/banker.png");
}

.capitalist {
    background-image: url("/static/cards_images/capitalist.png");
}

.communist {
    background-image: url("/static/cards_images/communist.png");
}

.crimeboss {
    background-image: url("/static/cards_images/crimeboss.png");
}

.director {
    background-image: url("/static/cards_images/director.png");
}

.farmer {
    background-image: url("/static/cards_images/farmer.png");
}

.guerrilla {
    background-image: url("/static/cards_images/guerrilla.png");
}

.judge {
    background-image: url("/static/cards_images/judge.png");
}

.mercenary {
    background-image: url("/static/cards_images/mercenary.png");
}

.newscaster {
    background-image: url("/static/cards_images/newscaster.png");
}

.politician {
    background-image: url("/static/cards_images/politician.png");
}

.priest {
    background-image: url("/static/cards_images/priest.png");
}

.producer {
    background-image: url("/static/cards_images/producer.png");
}

.protester {
    background-image: url("/static/cards_images/protester.png");
}

.reporter {
    background-image: url("/static/cards_images/reporter.png");
}

.speculator {
    background-image: url("/static/cards_images/speculator.png");
}

.spy {
    background-image: url("/static/cards_images/spy.png");
}

.writer {
    background-image: url("/static/cards_images/writer.png");
}


.--hidden-- {
    background-image: url("/static/cards_images/--hidden--.jpeg");
}

.my_cards .exposed {
    opacity: 0.4;
}

.deck_and_bank {
    width: 100%;
    margin: 20px auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.deck_and_bank .deck {
    background-image: url("/static/deck.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    direction: rtl;
    width: 25%;
    height: 275px;
    display: flex;
    font-size: 30px;
    color: deeppink;
}

.deck_and_bank .deck span {
    height: 40px;
    align-self: center;
    margin-right: 5%;
}

.token {
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    width: 121px;
    height: 127px;
}

.tax {
    background-image: url("/static/tax.png");
}

.treaty {
    background-image: url("/static/treaty.png");
}

.peacekeeper {
    background-image: url("/static/peacekeeper.png");
}

.disappear {
    background-image: url("/static/disappear.png");
}

#base_tokens {
    width: 50%;
    display: flex;
}

.deck_and_bank .bank {
    background-image: url("/static/bank_new.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 230px;
}

#playing_players {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#playing_players .playing_player {
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
}

#playing_players .playing_player_box {
    border: 1px solid gray;
    background-color: #efefef;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#playing_players .enemy_tokens_box {
    display: flex;
}

#playing_players .turn {
    background-color: #ffe191;
}

#playing_players .playing_player .player_name {
    font-size: 20px;
    color: black;
}

#playing_players .playing_player .player_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#playing_players .playing_player .player_cards .player_card {
    width: 100px;
    height: 162px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2px;
    margin-right: 2px;
}

#playing_players .playing_player .player_coins {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}