body {
    background-image: url("/static/bg.jpg");
    padding: 0;
    margin: 0;
    font-family: Arial, serif;
}

#allCards {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80%;
    height: 80%;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    bottom: 10%;
    left: 10%;
    z-index: 100;
}

.allCardsClosed {
    visibility: hidden;
}

.allCardsOpen {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    visibility: visible;
}

#allCards img {
    object-fit: contain;
    width: 245px;
    height: 175px;
}

#allCards img.selected {
    border: 3px solid orange;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rootDiv {
    width: 100%;
}

.header {
    width: 100%;
    background: #505087;
    color: white;
    font-size: 14px;
    padding-top: 5px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .hello {
    margin-left: 5px;
}

.header .startGame {
    margin-right: 5px;
}

#cardNames {
    visibility: collapse;
}

.header a {
    color: #a4a4cd;
    text-decoration: none;
}

.my_info {
    width: 100%;
    margin-top: 5px;
    height: 217px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my_coins {
    color: white;
    margin-right: 20%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my_coins img {
    width: 67px;
    height: 102px;
}

.my_cards {
    margin-left: 25%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my_cards .card {
    width: 135px;
    height: 217px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2px;
    margin-right: 2px;
}

.capitalist {
    background-image: url("/static/cards_images/capitalist.jpeg");
}

.communist {
    background-image: url("/static/cards_images/communist.jpeg");
}

.guerrilla {
    background-image: url("/static/cards_images/guerrilla.jpeg");
}

.protester {
    background-image: url("/static/cards_images/protester.jpeg");
}

.writer {
    background-image: url("/static/cards_images/writer.jpeg");
}

.--hidden-- {
    background-image: url("/static/cards_images/--hidden--.jpeg");
}

.my_cards .exposed {
    opacity: 0.4;
}

.deck_and_bank {
    width: 40%;
    margin: 20px auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deck_and_bank .deck {
    background-image: url("/static/deck.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 215px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    color: deeppink;
}

.deck_and_bank .deck span {
    height: 40px;
    align-self: center;
}

.deck_and_bank .bank {
    background-image: url("/static/bank_new.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 275px;
    height: 230px;
}

#playing_players {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#playing_players .playing_player {
    border: 1px solid white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#playing_players .playing_player .player_name {
    font-size: 20px;
    color: white;
}

#playing_players .playing_player .player_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#playing_players .playing_player .player_cards .player_card {
    width: 100px;
    height: 162px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
    margin-right: 5px;
}

#playing_players .playing_player .player_coins {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nameDiv {
    width: 100px;
}

.cardsDiv {
    width: 200px;
}

.coinsDiv {
    width: 200px;
}

.emptyLine {
    height: 10px;
}