<!doctype html>
<title>Hello from Flask</title>
 <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css') }}?v={{ appTimestamp }}">
 <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='popup.css') }}?v={{ appTimestamp }}">
 <script type="text/javascript" src="{{ url_for('static', filename='coup_api.js') }}?v={{ appTimestamp }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='coup_update.js') }}?v={{ appTimestamp }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='coup.js') }}?v={{ appTimestamp }}"></script>

<div id="allCards" class="allCardsClosed">
    <div style="margin: auto;width:80px;color:blue;" onclick="closeCardsPopup()">Close</div>
    <table style="margin: auto;" id="cardsTable">

    </table>
</div>

<div class="rootDiv">

    <div class="header">

        <div class="hello">
            {% if name %}
                Hello {{ name }}! (<a href="/logout">Logout</a>)
            {% else %}
              Who are you? (<a href="/logout">Logout</a>)
            {% endif %}
        </div>

        <div class="startGame">
            Player to start:
            <select id="listOfPlayers">
            </select>
            <button type="button" onclick="openCardsPopup()">Change Cards</button>
            <button type="button" onclick="startGame()">Start Game</button>
        </div>

    </div>

    <div class="my_info">
        <div id="my_cards" class="my_cards" ondrop="dropToCard(event)" ondragover="allowDrop(event)">

        </div>

        <div id="my_coins" class="my_coins">
            <div><span id="oneCoinAmount">1</span> X <img src="/static/one_coin.png" /></div>
            <div><span id="threeCoinsAmount">1</span> X <img src="/static/three_coins.png" /></div>
        </div>
    </div>



    <div class="deck_and_bank">
        <div class="deck" draggable="true" ondragstart="dragCardFromDeck(event)" ondrop="dropToDeck(event)" ondragover="allowDrop(event)">
            <span id="deckSize"></span>
        </div>
        <div class="bank"></div>
    </div>

    <div id="game_info">

    </div>

    <div><button type="button" onclick="takeFromBank()">Take From Bank</button><input id="txtTakeFromBank" value="0"></div>
    <div><button type="button" onclick="payToBank()">Pay to Bank</button><input id="txtPayToBank" value="0"></div>
    <div><button type="button" onclick="transfer()">Transfer</button><input id="txtTransferSource" placeholder="from"><input id="txtTransferDst" placeholder="to"><input id="txtTransferCoins" value="0"></div>
    <div><button type="button" onclick="endTurn()">End turn</button></div>

    <div id="players_info">

    </div>

</div>

