<!doctype html>
<title>Hello from Flask</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?v={{ appTimestamp }}">
<script type="text/javascript" src="{{ url_for('static', filename='elements.js') }}?v={{ appTimestamp }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='coup_api.js') }}?v={{ appTimestamp }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='coup_update.js') }}?v={{ appTimestamp }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='coup.js') }}?v={{ appTimestamp }}"></script>

<div id="allCards" class="allCardsClosed">
    <div style="margin: auto;width:80px;color:blue;" onclick="closeCardsPopup()">Close</div>
    <table style="margin: auto;" id="cardsTable">

    </table>
</div>

<div class="rootDiv">

    <div class="header">

        <div class="hello">
            {% if name %}
                Hello {{ name }}! (<a href="/logout">Logout</a>)
            {% else %}
                Who are you? (<a href="/logout">Logout</a>)
            {% endif %}
        </div>

        <div class="cardsNames">
            <span>Cards Names: </span>
            <span id="cardsNamesThatAreBeingPlayed"></span>
        </div>

        <div class="startGame">
            Player to start:
            <select id="listOfPlayers">
            </select>
            <button type="button" onclick="openCardsPopup()">Change Cards</button>
            <button type="button" onclick="startGame()">Start Game</button>
            <button style="background: red;" type="button" onclick="kickPlayer()">Kick Player</button>
        </div>

    </div>

    <div class="endTurnHolderBox">
        <button id="endTurn" type="button" onclick="endTurn()">End turn</button>
    </div>


    <div class="my_info">

        <div class="my_tax">
             <div id="tax_on_me_element" class="tax" draggable="true" ondragstart="dragTaxFromMyself(event)"></div>
        </div>

        <div id="my_cards" class="my_cards" ondrop="dropToCard(event)" ondragover="allowDrop(event)">

        </div>

        <div id="my_coins" class="my_coins" draggable="true" ondragstart="dragCoinsFromMyself(event)"
             ondrop="dropToCoins(event)" ondragover="allowDrop(event)">
            <div id="oneCoinAmount"></div>
            <div id="threeCoinsAmount"></div>
        </div>
    </div>

    <div class="deck_and_bank">
        <div class="deck" draggable="true" onclick="takeCardFromDeck()" ondragstart="dragCardFromDeck(event)"
             ondrop="dropToDeck(event)"
             ondragover="allowDrop(event)">
            <span id="deckSize"></span>
        </div>

        <div id="tax" class="tax" draggable="true" ondragstart="dragTaxFromBase(event)"
             ondrop="dropToTaxBase(event)"
             ondragover="allowDrop(event)">

        </div>

        <div class="bank" draggable="true" ondragstart="dragCoinsFromBank(event)" ondrop="dropToBank(event)"
             ondragover="allowDrop(event)" onclick="takeOneFromBank()">

        </div>
    </div>

    <div id="game_info">

    </div>

    <div id="playing_players">

    </div>

</div>

